header {
  margin: 0;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  background: $color-brand;
  @include box-shadow(1px 0px 2px rgba(0,0,0,.75));
  z-index: 99;
  height: 100%;
  max-height: 106px;
  min-height: 106px;

  h1 {
    @include font-size(4.0);
    @include line-height(5.4);
    font-family: $serif;
    color: $color-header-heading;
    @include text-shadow(0px 2px 0px rgba(#235796,.2));
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  p {
    color: #d8d8d8;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    @include font-size(1.6);
    margin: 0px;
  }
}
