// Colors
$color-brand: #2980b9;
$color-brand-accent: #ffcc00;
$color-link: #3399cc;
$color-header-heading: #f3f3f3;
$color-border: #c7c7c7;
$color-lightGrey: #999;
$color-medGrey: #666;
$color-darkGrey: #333;
$color-background: #eae6d1;

// Sizing
$border-radius: 2px;

// Fonts
$font-size: 10px;
$line-height: 10px;
$base-margin: 10px;
$bold: bold;
$serif: 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans: 'Noto Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$code: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
