/*
Leap Day for Github Pages
by Matt Graham
*/

@import "normalize";
@import "compass/css3";
@import "variables";
@import "mixins";
@import "fonts";
@import "octicons";
@import "header";
@import "page-nav";
@import "footer";
@import "banner";
@import "pygment_trac";

* {
  -webkit-font-smoothing:antialiased;
  box-sizing: border-box;
}

body {
  @include font-size(1.5);
  @include line-height(2.2);
  font-family: $sans;
  color: $color-medGrey;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: url(../images/body-background.png) $color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-darkGrey;
  margin:0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1 {
  @include font-size(2.8);
  @include line-height(3.6);
}

h2 {
  @include font-size(2.4);
  @include line-height(3.2);
  color: $color-darkGrey;
}

h3, h4, h5, h6 {
  color: $color-medGrey;
}

h3 {
  @include font-size(1.8);
  @include line-height(2.4);
}

a {
  color: $color-link;
  font-weight:400;
  text-decoration: none;
  transition: color .1s ease-in;

  &:hover {
    color: lighten($color-link, 15%);
  }
}

a small {
  @include font-size(1.1);
  color: $color-medGrey;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style: none;
}

strong {
  font-weight: bold;
  color: $color-darkGrey;
}

.wrapper {
  width: 650px;
  margin: 0 auto;
  position: relative;
}

section img {
  max-width: 100%;
  margin: 0px auto;
  border-radius: $border-radius;
}

blockquote {
  border-left: 1px solid $color-brand-accent;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

pre {
  padding: 8px 15px;
  background: $color-darkGrey;
  @include border-radius($border-radius);
  border: 1px solid $color-border;
  overflow: auto;
  overflow-y: hidden;

  code {
    font-family: $code;
    @include font-size(1.3);
    color: #efefef;
    text-shadow: 0px 1px 0px #000;
    margin: 0px;
    padding: 0px;
    background: #333;
    @include border-radius($border-radius);
  }
}

code {
  font-family: $code;
  @include font-size(1.3);
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0 4px;
  padding: 2px 6px;
  background: #333;
  @include border-radius($border-radius);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  color: #444;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid $color-brand-accent;

  &:first-child {
    border-left: 1px solid $color-brand-accent;
  }
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #444;
  font-weight: 700;
}

section {
  width: 100%;
  padding: 30px 30px 10px 30px;
  margin: 20px 0;
  margin-top: 190px;
  position:relative;
  background: #fbfbfb;
  @include border-radius($border-radius);
  border: 1px solid #cbcbcb;
  @include box-shadow(0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4));

  ul {
    li {
      &:before {
        content: ">";
        display: inline-block;
        position: relative;
        margin-right: 10px;
        color: $color-brand-accent;
        font-weight: bold;
      }
    }
  }
}

small {
  @include font-size(1.2);
}

@media print, screen and (max-width: 1060px) {

  div.wrapper {
    width: auto;
    margin: 0;
  }

  nav{
    display: none;
  }

  header, section, footer {
    float:none;

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }

  #banner {
    width: 100%;
    max-width: none;

    .banner-inner {
      float: none;
      margin: 0 auto;
      max-width: none;
    }

    .downloads {
        margin-right: 20px;
      }

    .fork {
      left: 50%;
      position: relative;
      margin-left: -325px;
    }

    #logo {
      margin-right: 5px;
      float: right;
      position: relative;
    }
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 190px auto 20px;
    max-width: 600px;
  }

  footer{
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}

@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 20px 20px;
    margin: 0;

    h1 {
      @include font-size(3.2);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }

    p { display: none;}
  }

  #banner {
    top: 80px;

    .fork {
      float: left;
      display: inline-block;
      margin-left: 0px;
    position: fixed;
    left: 20px;

      }
  }

  section {
    margin-top: 130px;
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position:static;
  }
}

@media print, screen and (max-width: 480px) {
  body {
  }

  header{
    position: relative;
    padding: 5px 0px;
    min-height: 0px;

    h1 {
      @include font-size(2.4);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
    }
  }
  section {
    margin-top: 5px;
  }

  #banner { display: none;}
  header ul {
    display:none;
  }
}

@media print {
  body {
    padding: 0.4in;
    @include font-size(1.2);
    color: #444;
  }
}

@media print, screen and (max-height: 680px) {

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}

@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
