{% include header.html %}

  {% include banner.html %}

  <div class="wrapper">

    {% include page-nav.html %}

  <section>
    <h1>GPyOpt</h1>

<center> <img  src="animation.gif" style="width:644px" align="middle">

<b>
<p>-- Python open-source library for Bayesian Optimization -- </p>

<p> -- Developed by the <a href="https://github.com/SheffieldML">Machine Learning</a> group of the Univeristy of Sheffield -- </p> 

<p> -- Based on <a href="http://sheffieldml.github.io/GPy/">GPy </a>, python framework for Gaussian process modeling--</p>
</b>
</center>


<p> </p>
<h2>Why?</h2>

With GPyOpt you can:
<p> </p>

<p  style="text-indent: 7em;">
<li> <b>Solve global optimization problems</b> with Bayesian optimization. </li>
<p> </p>
<li> <b>Import all GPy functionalities</b>: Choose between a large variety of kernels, kernel combinations, likelihoods, models, etc.</li>
<p> </p>
<li> <b>Run optimization methods in parallel </b> and make use of all your computational resources. Design batches of wetlab experiments.  </li>
<p> </p>
<li> <b>Solve Big-Data optimization problems </b> using sparse Gaussian process.</li>
<p> </p>
<li> <b>Tune automaticaly your Machine Learning algorithms </b> with GPyOpt.autoTune.</li>
</p>

<p> </p>
<h2>Installation </h2>

<b>Install from source and contribute: </b>You can install GPyOpt from source. To fork the repository click fork on the <a href=" https://github.com/SheffieldML/GPyOpt"> GPyOpt project page</a>. To contribute to the repository, clone it and add it to your pythonpath and send a pull request

<pre><code>>> git clone git@github.com:SheffieldML/GPy.git ~/SheffieldML
echo 'PYTHONPATH=$PYTHONPATH:~/SheffieldML' >> ~/.bashrc
</code></pre>
<p> </p>

<p> </p>
<h2> Documentation </h2>

<b>General users</b>: check the collection of <a href="http://nbviewer.ipython.org/github/SheffieldML/GPyOpt/blob/master/manual/index.ipynb"> notebooks </a> and run the <a href="https://github.com/SheffieldML/GPyOpt/tree/master/GPyOpt/demos"> demos. </a>

<p> </p>
<b>Code developers</b>: check the online <a href="http://pythonhosted.org/GPyOpt"> documentation. </a>

<p> </p>
<h2> GPyOpt in...</h2>
GPyOpt is free and runs under BSD 3-clause license. Please cite
<p> </p>
<pre><code>@Misc{gpyopt2015,
  author =   {The GPyOpt authors},
  title =    {GPyOpt: A Bayesian Optimization framework in python},
  howpublished = {\url{http://github.com/SheffieldML/GPyOpt}},
  year = {2015}
}
</pre></code>
Plese contact us! If you use the package we will be very happy to include you in the following list of GPyOpt applications:
<p> </p>
<li> Javier González, Joseph Longworth, David James, Neil Lawrence. Bayesian Optimization for synthetic gene design. The Neural Information Processing Systems (NIPS'14), Workshop in Bayesian Optimization, 2014.  </li>


<p> </p>
<h2> Releases </h2>

<li>  <b>May, 2015</b>: The first release of GPyOpt will be available online.</li>

<p> </p>
<h2> Contact </h2>
The code of GPyOpt is under active development. We'd love to here of any bugs you have found. Please submit any issue or question through our GPyOpt issues page. 


	{{ content }}

{% include footer.html %}
